.sidenav-container {
  height: 100%;

  .sidenav-content {
    background-color: #f2f3f8;

    &.sidenav-opened {
      margin-left: 242px !important;
    }
  }

  .sidenav {
    min-width: 240px;

    // &.admin {
    //   background-color: #1e1e2d;
    // }

    // &.vendor {
    //   background-color: #0277BD;

    //   .sidenav-toolbar,
    //   .sidenav-expansion-panel {
    //     background-color: rgb(1, 73, 114);

    //     &.collapsed {
    //       background-color: #0277BD;
    //     }
    //   }
    // }

    // &.party {
    //   background-color: #D84315;

    //   .sidenav-toolbar,
    //   .sidenav-expansion-panel {
    //     background-color: rgb(146, 46, 16);

    //     &.collapsed {
    //       background-color: #D84315;
    //     }
    //   }
  }

  .collapsed-nav {
    visibility: visible !important;
    margin-left: 50px;
  }

  .collapsed-icon {
    height: 64px;
    width: 100%;
    color: white;
    display: block;
    font-size: 35px;
    text-align: right;
    padding-top: 15px;
    cursor: pointer;
    padding-right: 8px;

    &:hover {
      background-color: #13131d;
    }
  }

  .sidenav-toolbar {
    color: white;

    &.collapsed {

      &:hover {
        background-color: #13131d;
      }
    }

    .sidenav-title {
      text-decoration: none;

      &.collapsed {
        display: none;
      }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
      padding: none !important;
    }

    .sidenav-toggle {
      cursor: pointer;

      &.collapsed-nav {
        transform: rotate(180deg);
      }
    }
  }

  a {
    color: white;
  }

  .sidenav-expansion-panel {

    &:hover {
      background-color: #13131d;
    }

    mat-panel-title {
      &.mat-expansion-panel-header-title {
        color: white;
      }
    }

    &.mat-expansion-panel:not([class*='mat-elevation-z']) {
      box-shadow: none;

      &:not(.mat-expanded):not([aria-disabled='true']) .mat-expansion-panel-header:hover {
        background: none !important;
      }
    }

    .mat-icon {
      height: 16px;
      width: 16px;
      margin-right: 15px;
    }

    ::ng-deep .sidenav-header>.mat-expansion-indicator:after {
      color: white;
    }
  }
}
