<!-- <mat-sidenav-container fxFlexFill>
  <mat-sidenav fxLayout="column" mode="side" opened="false">
    <div fxLayout="column">
      <a href="#" mat-button>Menu Item 1</a>
      <a href="#" mat-button>Menu Item 2</a>
      <a href="#" mat-button>Menu Item 3</a>
      <a href="#" mat-button>Menu Item 4</a>
      <a href="#" mat-button>Menu Item 5</a>
      <a href="#" mat-button>Menu Item 6</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>Main Content</mat-sidenav-content>
</mat-sidenav-container> -->
<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav class="sidenav" #sidenav opened="isOpened" mode="side" [class.collapsed-nav]="!isOpened">
    <mat-toolbar class="sidenav-toolbar" [class.collapsed]="!isOpened">
      <mat-toolbar-row>
        <h2>
          <a routerLink="dashboard" class="sidenav-title"> FLASH LOYALTY </a>
        </h2>
        <div fxFlex fxLayout fxLayoutAlign="flex-end">
          <mat-icon matListIcon (click)="toggleNav(); sidenav.toggle()" class="sidenav-toggle"
            [class.collapsed-nav]="!isOpened">
            chevron_left
          </mat-icon>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <ng-container *ngIf="!isOpened">
      <mat-icon matListIcon *ngFor="let item of sideNavItems" class="collapsed-icon">
        {{ item.icon }}
      </mat-icon>
    </ng-container>

    <mat-nav-list *ngIf="isOpened">
      <!-- <h2 matSubheader> Example </h2>

      <a *ngFor="let item of sideNavItems" mat-list-item (click)="sidenav.close()" [routerLink]="[item.route]"
        routerLinkActive="list-item-active" style="height: 0;">
        <mat-icon matListIcon> {{ item.icon }} </mat-icon>
        {{ item.title }}
      </a> -->
      <!-- <a mat-list-item (click)="sidenav.close()" [routerLink]="" routerLinkActive="list-item-active">
        <mat-icon matListIcon> dashboard </mat-icon>
        Dashboard
      </a> -->
      <mat-expansion-panel class="sidenav-expansion-panel" *ngFor="let item of sideNavItems">
        <mat-expansion-panel-header class="sidenav-header">
          <mat-panel-title>
            <mat-icon matListIcon> {{ item.icon }} </mat-icon>
            {{ item.title }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a *ngFor="let routes of item.routes" mat-list-item [routerLink]="routes.route"
          routerLinkActive="list-item-active">
          {{ routes.title }}
        </a>
      </mat-expansion-panel>
      <!-- <a mat-list-item (click)="sidenav.close()" [routerLink]="" routerLinkActive="list-item-active">
        <mat-icon matListIcon> power_off </mat-icon>
        Log Out
      </a> -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [class.sidenav-opened]="isOpened" class="sidenav-content">
    <app-toolbar></app-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
