.party {
  background-color: #FF5722 !important;
}

.vendor {
  background-color: #03A9F4 !important;
}

.admin {
  background-color: #607D8B !important;
}

.forgot-password {
  cursor: pointer;
  text-decoration: underline;
}
