<div class="user-menu-body-container">
  <a *ngFor="let item of menuLinks" class="user-menu-body-link" [routerLink]="">
    <mat-icon matListIcon class="user-menu-body-icon"> {{ item.icon }} </mat-icon>
    <div class="user-menu-body-link-details">
      <div class="user-menu-body-link-title"> {{ item.title }} </div>
      <div class="user-menu-body-link-description"> {{ item.description }} </div>
    </div>
  </a>
  <ng-container *ngFor="let item of ['customer', 'vendor', 'admin']">
    <button *ngIf="currentRole !== item" (click)="changeRole(item)" mat-flat-button class="user-menu-btn"
      [ngClass]="item"> SIGN IN AS {{ item.toUpperCase() }} </button>
  </ng-container>
  <!-- <button [disabled]="currentRole === 'customer'" (click)="changeRole('customer')" mat-stroked-button
    class="sign-out-btn">SIGN IN AS CUSTOMER</button>
  <button [disabled]="currentRole === 'vendor'" (click)="changeRole('vendor')" mat-flat-button color="accent"
    class="sign-out-btn">SIGN IN AS
    VENDOR</button>
  <button [disabled]="currentRole === 'admin'" (click)="changeRole('admin')" mat-flat-button color="primary"
    class="sign-out-btn">SIGN IN AS
    ADMIN</button> -->
  <button mat-stroked-button color="warn" class="user-menu-btn">SIGN OUT</button>
</div>
