<mat-card class="mat-typography">
  <mat-list class="container">
    <mat-list-item class="option">
      <h3 matLine class="option-name">Primary Color: {{colors[0]}} <input [(colorPicker)]="colors[0]"
          [style.background]="colors[0]" />
      </h3>
    </mat-list-item>
    <mat-list-item class="option">
      <h3 matLine class="option-name">Secondary Color: {{colors[1]}} <input [(colorPicker)]="colors[1]"
          [style.background]="colors[1]" />
      </h3>
    </mat-list-item>
    <mat-list-item class="option">
      <h3 matLine class="option-name">Accent Color: {{colors[2]}} <input [(colorPicker)]="colors[2]"
          [style.background]="colors[2]" />
      </h3>
    </mat-list-item>
  </mat-list>
  <button mat-raised-button color="primary" class="full-width" (click)="applyTheme()">
    Apply Theme
  </button>
</mat-card>
