.fl-toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  background-color: #FFFFFF;

  &.vendor {
    background-color: #03A9F4;

    .toolbar-icon {
      color: white !important;
    }
  }

  &.customer {
    background-color: #FF5722;

    .toolbar-icon {
      color: white !important;
    }
  }

  ul {
    list-style-type: none;
  }

  .toolbar-icon {
    color: #1565C0;
  }
}
