.fl-toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;

  &.vendor {

    .toolbar-icon {
      color: white !important;
    }
  }

  &.customer {

    .toolbar-icon {
      color: white !important;
    }
  }

  ul {
    list-style-type: none;
  }

  .toolbar-icon {
    color: #1565C0;
  }
}
